<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Welcome to GL Test</title>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap.min.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.min.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.min.css}"/>-->
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet"
          media="screen"/>
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" media="screen"/>

</head>

<body>

<section layout:fragment="content">
    <!-- FORM OPERATION -->
    <br/>
    <form class="form-horizontal" th:object="${operation}" th:action="@{/operation}" method="post" id="formOperation">
        <div class="row">
            <h3>Operation</h3>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="op_code">Operation Code *</label>
                <input type="text" class="form-control" id="op_code" th:field="*{code}"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="op_desc">Operation Desc *</label>
                <input type="text" class="form-control" id="op_desc" th:field="*{desc}"/>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-4">
                <label for="receip_code">Receipt Code *</label>
                <select class="form-control" th:field="*{receiptId}" id="receip_code">
                    <option th:each="receipt : ${lstReceipts}" th:value="${receipt.getId()}"
                            th:text="${receipt.getCode()}">code
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="op_price">Price *</label>
                <input type="text" class="form-control" id="op_price" th:field="*{price}"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="def_dlt_charge">Default Wage *</label>
                <input th:readonly="readonly" type="text" class="form-control" id="def_dlt_charge"
                       th:value="${operation.defDltCharge}" th:field="*{defDltCharge}"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="def_wage">Default Wage *</label>
                <input th:readonly="readonly" type="text" class="form-control" id="def_wage"
                       th:value="${operation.defWage}" th:field="*{defWage}"/>
            </div>
        </div>

        <br/>

        <!--BUTTON DIV -->
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-success" id="btnAdd"><span class="glyphicon glyphicon-plus"></span> Add</button>
                <button class="btn btn-info" id="btnRefresh"><span class="glyphicon glyphicon-refresh"></span> Refresh
                </button>
            </div>
        </div>

    </form>


    <br/><br/>
    <!-- DATA TABLE DEV -->
    <div>
        <table id="operation_table" class="table table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
            <tr class="list_header">
                <th>ID</th>
                <th>Operation Code</th>
                <th>Operation Desc</th>
                <th>Receipt Code</th>
                <th>Price</th>
                <th>DLTChange</th>
                <th>Wage</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </div>


    <div class="row">
        <form class="form-horizontal" th:object="${operationArea}" th:action="@{/operationarea}" method="post"
              id="formOperationArea">
            <div class="row">
                <h3>Operation By Area</h3>
            </div>

            <input type="hidden" name="operation" id="operation"/>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="receip_code">Province Area *</label>
                    <select class="form-control" id="receip_code" th:field="*{provinceId}">
                        <option th:each="province : ${lstProvinces}" th:value="${province.getId()}"
                                th:text="${province.getDesc()}">code
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="dlt_charge">DLT Charge *</label>
                    <input type="text" class="form-control" id="dlt_charge" th:field="*{dltCharge}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="wage">Wage *</label>
                    <input type="text" class="form-control" id="wage" th:field="*{wage}"/>
                </div>
            </div>

            <br/>

            <!--BUTTON DIV -->
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-success" id="btnAddArea"><span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>


            <br/><br/>
            <!-- DATA TABLE DEV -->
            <div>
                <table id="operation_area_table" class="table table-bordered dt-responsive" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr class="list_header">
                        <th>Id</th>
                        <th>Province Area *</th>
                        <th>DLT Change</th>
                        <th>Wage</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </form>

    </div>
    <br/><br/><br/><br/><br/><br/>
</section>

<section layout:fragment="footer-js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

    <!--<script th:src="@{/js/operation.js}"></script>
    <script th:src="@{/js/dataTables.responsive.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/js/responsive.bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="static/js/dataTables.bootstrap.js" th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script src="static/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:inline="javascript"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            //table
            var operation_area_table;
            var operation_table;
            var data = [];
            var tempOperationId;

            //Get Via Innline
            var operationList = [[${lstOperations}]];

            //Loop data to data table
            $.each(operationList, function (idx, obj) {
                data.push([obj.id, obj.code, obj.desc, obj.receiptId, obj.price, obj.defDltCharge, obj.defWage, ""]);
            });

            //Operation Data Table
            operation_table = $('#operation_table').DataTable({
                data: data,
                deferRender: true,
                scrollCollapse: true,
                scroller: true,
                "bSort": false,
                "pageLength": 10,
                "order": [[0, "desc"]],
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<button class="btn-area" type="button"> Add Area</button>'
                    + '<button class="btn-delete"  type="button">Delete</button>'
                }],
                "searchCols": []
            });


            //Click on btnViewArea
            $('#operation_table tbody').on('click', '.btn-area', function (e) {
                var data = operation_table.row($(this).parents('tr')).data();
                if (operation_area_table) {
                    operation_area_table.destroy()
                }
                if (data) {
                    tempOperationId = data[0];
                    $.ajax({
                        url: '/gltest/api/v1/operationareas?operate_id=' + tempOperationId,
                        type: 'GET',
                        success: function (result) {
                            loadingOperationArea(result);
                        }
                    });
                }

            });

            //Click on btnDelete
            $('#operation_table tbody').on('click', '.btn-delete', function () {
                var data = operation_table.row($(this).parents('tr')).data();
                if (data) {
                    $.ajax({
                        url: '/gltest/api/v1/operation/' + data[0],
                        type: 'DELETE',
                        success: function (result) {
                            window.location.href = '/gltest/operation';
                        }
                    });
                }
            });


            //Button Area
            $('#btnAddArea').click(function (e) {
                e.preventDefault();
                if (operation_area_table) { //That mean they click on area
                    console.log(tempOperationId);
                    $("#operation").val(tempOperationId);
                    //alert($("#operation").val());
                    $('#formOperationArea').submit();
                } else {
                    alert("No operation was selected");
                }
            });


            /**
             * Load Area
             * */

            var loadingOperationArea = function (operationAreaDatas) {
                /**
                 * OperationArea
                 *
                 **/
                var data = [];
                $.each(operationAreaDatas, function (idx, obj) {
                    data.push([obj.id, obj.provinceId, obj.dltCharge, obj.wage, ""]);
                });
                operation_area_table = $('#operation_area_table').DataTable({
                    data: data,
                    deferRender: true,
                    scrollCollapse: true,
                    scroller: true,
                    "bSort": false,
                    "pageLength": 10,
                    "order": [[0, "desc"]],
                    "columnDefs": [{
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<button class="btn-delete"  type="button">Delete</button>'
                    }],
                    "searchCols": []
                });

                $('#operation_area_table tbody').on('click', '.btn-delete', function () {
                    var data = operation_area_table.row($(this).parents('tr')).data();
                    if (data) {
                        $.ajax({
                            url: '/gltest/api/v1/operationareas/' + data[0],
                            type: 'DELETE',
                            success: function (result) {
                                window.location.href = '/gltest/operation';
                            }
                        });
                    }
                });
            }


        });
    </script>

</section>

</body>
</html>